@import "../vars.scss";

dialog {
  max-width: 1200px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;

  .content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.75em 2em 1em;
  }

  &.hide {
    display: none;
  }

  &::backdrop {
    background-color: #efe9ded6;
  }

  form {
    display: grid;
    grid-template: repeat(3, 1fr) auto / repeat(3, minmax(200px, 1fr));
    gap: 1rem 2rem;

    .form-group {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
    }
    .form-group:last-of-type {
      grid-column: 1/2;
    }

    input,
    select {
      outline: none;
      border-radius: 5px;
      padding: 5px 8px;
      font-size: 1rem;
      border: 1px solid #c1c1c1;
    }

    option {
      color: black;
    }

    #status {
      background-color: transparent;

      &.valide {
        color: $valide;
      }
      &.rejected {
        color: $rejected;
      }
      &.on-validation {
        color: $on-validation;
      }
    }

    button[type="submit"] {
      margin-top: 1em;
      grid-area: 4/3/5/4;
      justify-self: right;
      font-size: 1.2rem;
    }
  }
}
